body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 20px;
    max-width: 800px;
    
}

header {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

img {
    width: 200px;
    height: auto;
}

input[type="text"] {
    width: 375px; /* Make the input and button stretch to fill their container */
    max-width: 400px; /* Limit the width of the input and button */
    padding: 10px;
    margin-top: 10px;
}

 button{
    width: 400px;
    padding: 10px;
    margin-top: 10px;
 }

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px auto; /* Center the table */
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
